<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="QL_Coffee.Properties.Settings.QL_CAFEConnectionString"
        connectionString="Data Source=THANHNHAN-PC\SQLEXPRESS;Initial Catalog=QL_CAFE;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
